body {
    background-color: #111;
}


.unselectable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.carousel-control-next {
    filter: invert(60%);
}

.carousel-control-prev {
    filter: invert(60%);
}

.accordion-item {
    background-color: #111;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(155, 155, 160, 0.25) 0px 50px 100px -20px inset, rgba(245, 244, 244, 0.3) 0px 30px 60px -30px, rgba(218, 217, 215, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(255, 255, 255, 0.45) 1px 1px 40px 0px inset; */
    /* box-shadow: rgb(200, 208, 231) 3.2px 3.2px 8px 0px inset, rgb(255, 255, 255) -3.2px -3.2px 8px 0px inset; */
}



.accordion-item img{
    margin-bottom: 3rem;
}
.accordion-item video{
    margin-bottom: 3rem;
}
.accordion-item iframe{
    margin-bottom: 3rem;
}

.modal-dialog {
    max-width: 100%;
}

.btn-outline-warning {
    color: #dddddd;
    border-color: #dddddd;
}

.text-warning{
    color: #eac060;
}

i{
    color: #eac060;
}

.btn-outline-warning:hover {
    color: #112529;
    background-color: #eac060;
}

.thumbnail-shadow {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px, rgba(255, 255, 255, 0.3) 1px 18px 36px -18px;
}

.thumbnail-no-shadow {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
}


.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}

.ojuju-font {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
  }



  .text-gray-600 {
    color: #999;
}

.text-gray-600:hover {
    color: #eac060;
}
