:root {
    --bg-color-dark: #111 !important;
    --bg-menu-color: #111111DD;
    --link-color-default: #eac060 !important;
    --link-color-hover: #ebd6a6 !important;
    --link-color-active: #f5be3f !important;
    --link-color-disabled: #404040dd;
    --menu-color-default: #999 !important;
    --title-font-color: #ccc !important;
    --title-icon-color:#eac160aa !important;
}
  








body {
    background-color: var(--bg-color-dark);
}


.unselectable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.carousel-control-next {
    filter: invert(60%);
}

.carousel-control-prev {
    filter: invert(60%);
}

.accordion-item {
    background-color: var(--bg-color-dark);
    border: none;
    border-radius: 2px;
    box-shadow: rgba(155, 155, 160, 0.25) 0px 50px 100px -20px inset, rgba(245, 244, 244, 0.3) 0px 30px 60px -30px, rgba(218, 217, 215, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(255, 255, 255, 0.45) 1px 1px 40px 0px inset; */
    /* box-shadow: rgb(200, 208, 231) 3.2px 3.2px 8px 0px inset, rgb(255, 255, 255) -3.2px -3.2px 8px 0px inset; */
}

.accordion-item img{
    margin-bottom: 3rem;
}
.accordion-item video{
    margin-bottom: 3rem;
}
.accordion-item iframe{
    margin-bottom: 3rem;
}

.modal-open{
    overflow:scroll;
    overflow-y:hidden; 
}




.btn-outline-warning {
    color: #dddddd;
    border-color: #dddddd;
}

.text-warning{
    color: var(--link-color-default);
}



.btn-outline-warning:hover {
    color: #112529;
    background-color: var(--link-color-default);
}

.thumbnail-shadow {
    box-shadow: 1px -1px 19px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px -1px 19px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px -1px 19px 2px rgba(0, 0, 0, 0.3);
}



.theme-menu-item {
    color: var(--menu-color-default);
}

.theme-menu-item:hover {
    color: var(--link-color-default);
}

.theme-menu-item:focus {
    color: var(--link-color-active);
}

.theme-menu-item:disabled {
    color: var(--link-color-disabled);
}

.theme-menu-bg{
    background-color: var(--bg-menu-color);
}




.theme-strip-title{
    color: #ccc; 
    text-transform: uppercase;
    background-color: #151515;
    font-weight: 100;
}

.theme-strip-h1{
    color: #777164; 
}

.theme-strip-h2{
    color: var(--link-color-default); 
}

.theme-strip-title i{
    color: #eac160aa; 
    background-color: #151515;
    font-weight: 100;
}

.theme-strip-body{
    color: #ccc; 
    background-color: rgb(33,37,41);
    font-weight: 100;
}


/* .theme-strip-shadow{
    box-shadow: 0 4px 4px 0 rgba(136, 136, 136, 0.527), 0 6px 20px 0 rgba(99, 99, 99, 0.19);
} */



.theme-bt-icon{
    color: var(--link-color-default)
}
.theme-bt-icon:hover{
    color: #ccc;
}
.theme-bt-icon:active{
    color:  #ccc;
}
.theme-bt-icon:disabled{
    color:  var(--link-color-disabled);
}



.theme-bt-icon-reverse{
    color: #ccc
}
.theme-bt-icon-reverse:hover{
    color: var(--link-color-hover);
}
.theme-bt-icon-reverse:active{
    color:  var(--link-color-active);
}
.theme-bt-icon-reverse:disabled{
    color:  var(--link-color-disabled);
}

.bi-chevron-bar-down {
    color: #fcb204b0;
}

.bi-chevron-up {
    color: rgb(126, 126, 126);
}


.theme-gallery-item-title{
    font-weight: 100;
    color: rgb(185, 185, 185);
    border: none;
    text-shadow: -1px 1px 0px black;
}

.theme-gallery-item-title:hover{
    color: var(--link-color-hover);
}

.theme-gallery-item-title:active{
    color: var(--link-color-active);
}


.theme-toggle-bt-title
{
    color: #999; 
    text-align: center;
    background: linear-gradient(180deg, #ffc10700 0%, #ffffff00 5%, #ffffff00 95%, #ffc107 100%);
}

.theme-toggle-bt
{
    color: #666; 
    border: none; 
    background:  none;
}
.theme-toggle-bt:hover
{
    color: #999; 
    border: none; 
    background:  none;
}
.theme-toggle-bt:active
{
    color: var(--link-color-active);
    border: none; 
    background:  none;
}

.theme-toggle-bt:checked + .theme-toggle-bt 
{
    color: var(--link-color-active);
}

.theme-modal-body
{
    background-color: #00000033;
    backdrop-filter: blur(10px);
    border: none;
}

.theme-modal-img
{
    box-shadow: rgba(133, 132, 132, 0.56) 0px 22px 70px 4px;
}

.theme-subtitle {
    border-bottom: var(--link-color-active);
}

.theme-subtitle .bi {
    color: var(--title-icon-color); 
}

.theme-subtitle span {
    color: var(--title-font-color);
}
  